@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @ViewData["Name"] ;
        @ViewData["Field"];
        @ViewData["FieldName"];
        @ViewData["CityId"];
        @ViewData["CityName"] ;
    </ul>

</div>
